@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body{
  background-color: rgb(253, 253, 253);
}

nav{
  margin: 0%;
  padding: 0.01px;
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: center;
}

footer{
  font-family: "Dosis", sans-serif;
  display: flex;
  justify-content: center;
}
